<% if(locals.errors){ %> <% errors.forEach(function(error) { %>
<div class="uk-alert-primary uk-margin-small-top uk-text-center" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p class="uk-text-large"><%= error.msg %></p>
</div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="uk-alert-success uk-margin-small-top uk-text-center" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p class="uk-text-large"><%= success_msg %></p>
</div>
<% } %> <% if(error_msg != ''){ %>
<div class="uk-alert-primary uk-margin-small-top uk-text-center" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p class="uk-text-large"><%= error_msg %></p>
</div>
<% } %> <% if(error != ''){ %>
<div class="uk-alert-primary uk-margin-small-top uk-text-center" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p class="uk-text-large"><%= error %></p>
</div>
<% } %>
