<h1 class="admin__title uk-text-center uk-margin-medium-bottom">
  Administration
</h1>

<h3 class="admin__title--sub uk-text-center uk-margin-medium-bottom">
  Edit and Delete Products
</h3>
<div class="uk-text-center">
  <a
    href="/newproduct"
    id="admin__new"
    class="uk-button uk-button-default admin__btn uk-width-1-5"
  >
    New Product
  </a>
</div>
<!--Table--><!-- ejs loop through this -->
<table
  class="uk-table uk-table-justify uk-table-divider admin__table uk-table-responsive"
>
  <thead>
    <tr>
      <th class="uk-width-small uk-text-center uk-text-secondary">Image</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">Product</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">Price</th>
      <th class="uk-width-small uk-text-center uk-text-secondary">
        Remove Product
      </th>
    </tr>
  </thead>
  <tbody>
    <% productsTwo.map((product) => { %>
    <tr>
      <td class="uk-width-small uk-text-center">
        <img
          class="uk-preserve-width admin__image"
          src="data:image/png;base64, <%= product.image %>"
          width="50"
          alt=""
        />
      </td>
      <td class="uk-width-small uk-text-center admin__table--text">
        <%= product.title %>
      </td>
      <td class="uk-width-small uk-text-center admin__table--text">
        $<%= product.price %>
      </td>

      <td class="uk-width-small uk-text-center">
        <form
          method="POST"
          action="/admin/<%= product.id %>/delete?_method=DELETE"
        >
          <button
            type="submit"
            class="uk-button uk-button-default btn__admin"
            uk-close
          ></button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
