<h1 class="title">Products</h1>
<div
  id="products"
  class="uk-child-width-expand@s uk-text-center"
  uk-grid="parallax: 150"
>
  <% products.forEach((product) => { %>
  <div class="uk-child-width-expand@s uk-text-center" uk-grid="parallax: 150">
    <div class="uk-card uk-card-default uk-grid-margin">
      <div class="uk-card-media-top">
        <img src="<%=product.image %>" alt="" />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title"><%= product.title %></h3>
        <h3 class="uk-card-title"><%= product.price %></h3>
      </div>
      <button class="uk-button uk-button-default">Add To Cart</button>
    </div>
  </div>
  <% }) %>
</div>
