<!--Nav component-->
<nav class="uk-navbar-container nav" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a class="nav__title" href="#">Shred Outlet</a></li>
      <li>
        <li><a href="/dashboard"class="nav__link">Dashboard</a></li>
        <li><a href="/newProduct" class="nav__link">New Product</a></li>
         <li><a href="/admin" class="nav__link">Admin</a></li>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right nav__left">
    <ul class="uk-navbar-nav">
      
      <li class="uk-active">
        <a href="/cart"
          ><i class="fas fa-shopping-cart nav__left--cart"></i
        ></a>
      </li>
      <li class="uk-active">
        <a class="nav__left--logout" href="/users/logout">Logout<i class="fas fa-sign-out-alt nav__left--icon"></i></a>
      </li>
    </ul>
  </div>
</nav>
<!--shopping cart layout-->
<%- include ("./partials/cartList.ejs")%>
<div  class="footer uk-margin uk-card uk-card uk-text-center uk-text-primary uk-card-body">Shred Outlet &copy;</div>