<div class="welcome">
<div
  class="uk-child-width-1-3@m uk-grid-medium  uk-grid-match uk-margin-large-top uk-flex uk-flex-center"
  uk-grid
>
  <div class="uk-card-secondary uk-card-body uk-flex-center welcome__grid uk-flex-center@s">
      <div class="uk-margin uk-text-center welcome__grid--1">
       
    </div>
    <h3 class="uk-card-title uk-text-center welcome__title">Shred Outlet</h3>
          <a href="/users/login" class="welcome__anchor">
            Login
          </a>
          <a href="/users/signup" class="welcome__anchor">
            Sign Up
          </a>
    </p>
  </div>
</div>
</div>


