* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px;
  margin: 1rem; }

html {
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url("../../images/winter_trees.jpg");
  height: 100%;
  margin: 1rem;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.btn__admin {
  border: solid 1px #1ec91e;
  color: #333333; }
  .btn__admin:hover {
    background: #1ec91e;
    border: solid 1px #333333;
    color: #333333; }

.btn__cart {
  border: solid 1px #1ec91e;
  color: #1ec91e; }
  .btn__cart:hover {
    background: #1ec91e;
    border: solid 1px #333333;
    color: #333333; }

#btn__checkout {
  border: solid 1px #1ec91e;
  color: #1ec91e; }
  #btn__checkout:hover {
    background: #1ec91e;
    border: solid 1px #333333;
    color: #333333; }

.glass {
  display: inline-block;
  background: rgba(255, 255, 255, 0.192);
  border-radius: 0;
  padding: 7rem;
  position: relative;
  z-index: 1;
  /* color:rgba(128, 128, 128, 0.801) */
  backdrop-filter: blur(70px);
  border: solid 1px transparent;
  background-clip: padding-box; }

.nav {
  border: 3px solid #1ec91e;
  padding: 1rem; }
  .nav__title {
    font-size: 2rem !important;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
    @media (max-width: 400px) {
      .nav__title {
        margin-left: 2rem;
        font-size: 1.25rem !important; } }
  .nav__link {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
    .nav__link:hover {
      border-bottom: 3px solid #333333;
      text-shadow: 0rem 0rem 1rem #1ec91e; }
    .nav__link:active {
      border-bottom: 3px solid #333333; }
  .nav__right {
    margin-bottom: 1.5rem !important; }

.nav__left--name {
  margin-top: 1.8rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }
  @media (max-width: 400px) {
    .nav__left--name {
      margin-top: 3rem; } }

.nav__left--cart {
  font-size: 2rem;
  margin-top: 1.8rem;
  color: #333333; }
  .nav__left--cart:hover {
    text-shadow: #1ec91e;
    text-shadow: 0rem 0rem 1rem #1ec91e; }
  @media (max-width: 400px) {
    .nav__left--cart {
      margin-top: 3rem; } }

.nav__left--logout {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }
  .nav__left--logout:hover {
    text-shadow: #1ec91e;
    text-shadow: 0rem 0rem 1rem #1ec91e;
    border-bottom: 3px solid #333333; }

.nav__left--icon {
  font-size: 1rem;
  margin-left: 0.2rem; }

.uk-navbar {
  min-height: 50px; }

.uk-navbar button.navbar-toggle {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #1ec91e;
  z-index: 10; }

.uk-navbar button.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #1ec91e; }

.uk-navbar button.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

.uk-navbar .uk-navbar-nav {
  flex-wrap: wrap-reverse;
  align-self: flex-end; }

.uk-navbar .uk-navbar-nav > li > a {
  min-height: auto;
  line-height: 3em; }

@media (max-width: 1200px) {
  .uk-navbar .toggle-target.collapsed {
    display: none; }
  .uk-navbar .toggle-target .uk-navbar-nav {
    display: block;
    top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: #333333; }
  .uk-navbar .toggle-target .uk-navbar-nav li a {
    display: block;
    min-height: 0;
    line-height: 2em;
    padding: 0 15px !important; }
  .uk-navbar .toggle-target .uk-navbar-dropdown {
    width: 90%;
    min-width: 200px; }
  .uk-navbar
.toggle-target
.uk-navbar-dropdown[class*="uk-navbar-dropdown-bottom"] {
    margin-top: 0; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.footer {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e;
  background: #f8f8f8;
  border: 3px solid #1ec91e;
  margin: 2rem 0rem; }

.welcome {
  background-image: url("../images/gear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
  .welcome__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
  .welcome__anchor {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: #1ec91e;
    letter-spacing: 0.2rem;
    font-weight: 200;
    text-transform: uppercase; }
    .welcome__anchor--link:hover {
      color: #333333;
      text-decoration: none; }
  @media only screen and (max-width: 775px) {
    .welcome__card {
      margin-right: 18rem; } }
  @media only screen and (max-width: 450px) {
    .welcome__card {
      margin-right: 40rem; } }

.dash__card {
  border: 3px solid #1ec91e; }

.dash__title--main {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px #333333;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.dash__title--product {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.dash__price {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.dash__cartBtn {
  font-size: 1rem;
  background: #1ec91e !important;
  color: #333333 !important;
  letter-spacing: 0.1rem; }
  .dash__cartBtn:hover {
    border: 1px solid #333333; }

.dash__image {
  display: inline-flex;
  width: 80%;
  height: auto; }

.login {
  background-image: url("../images/gear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
  .login__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
  .login__input {
    font-size: 1rem;
    padding: 1rem;
    height: 3rem; }
    .login__input::placeholder {
      color: #1ec91e !important;
      letter-spacing: 0.1rem; }
  .login__btn {
    font-size: 1rem;
    background: #1ec91e !important;
    color: rgba(255, 255, 255, 0.849) !important;
    letter-spacing: 0.1rem; }
  .login__text {
    font-size: 1rem;
    font-size: 1rem; }
  .login__anchor {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #333333 !important; }
  @media only screen and (max-width: 1050px) {
    .login__card {
      width: 80%; } }
  @media only screen and (max-width: 775px) {
    .login__card {
      margin-right: 28rem;
      margin-left: 8rem; } }
  @media only screen and (max-width: 420px) {
    .login__card {
      margin-left: -12rem;
      margin-top: -4rem;
      width: 40%; } }
  @media only screen and (max-width: 376px) {
    .login__card {
      margin-left: -16rem;
      margin-top: -4rem;
      width: 40%; } }

.signup {
  background-image: url("../images/gear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
  .signup__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
  .signup__input {
    font-size: 1rem;
    padding: 1rem;
    background-color: transparent;
    height: 3rem; }
    .signup__input::placeholder {
      color: #1ec91e;
      letter-spacing: 0.1rem; }
  .signup__btn {
    font-size: 1rem;
    background: #1ec91e !important;
    color: rgba(255, 255, 255, 0.849) !important;
    letter-spacing: 0.1rem;
    width: 14rem; }
  .signup__text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.849); }
  .signup__anchor {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #333333 !important; }
  @media only screen and (max-width: 1050px) {
    .signup__card {
      width: 100%; } }
  @media only screen and (max-width: 775px) {
    .signup__card {
      margin-right: 28rem;
      margin-left: 8rem; } }
  @media only screen and (max-width: 420px) {
    .signup__card {
      margin-left: -12rem;
      margin-top: -4rem;
      width: 40%; } }
  @media only screen and (max-width: 376px) {
    .signup__card {
      margin-left: -16rem;
      margin-top: -4rem;
      width: 40%; } }

@media only screen and (max-width: 600px) {
  .newProduct {
    margin-left: 1.25rem; } }

.newProduct__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.newProduct__card {
  border: 3px solid #1ec91e; }

.newProduct__input {
  font-size: 1rem;
  padding: 1rem;
  height: 3rem; }
  .newProduct__input::placeholder {
    color: #1ec91e !important;
    letter-spacing: 0.1rem; }

.newProduct__upload {
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e;
  letter-spacing: 0.1rem;
  border: 2px solid #1ec91e;
  background: rgba(0, 0, 0, 0.856); }

.newProduct__btn {
  font-size: 1rem;
  background: #1ec91e !important;
  color: #333333 !important;
  letter-spacing: 0.1rem; }
  .newProduct__btn:hover {
    border: 1px solid #333333; }

.newProduct__text {
  font-size: 1rem;
  font-size: 1rem; }

.newProduct__anchor {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #333333 !important; }

#newProduct__drop {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

#newProduct__link {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  pointer-events: auto !important;
  cursor: pointer;
  color: #1ec91e; }

.admin__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.admin__title--sub {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.admin__table {
  margin: 1rem 0rem; }

.admin__btn {
  font-size: 1rem;
  background: #333333 !important;
  color: #1ec91e !important;
  border: 2px solid #1ec91e;
  letter-spacing: 0.1rem; }

.admin__table--text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 300;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.admin__image {
  border: #1ec91e solid 1px; }

.cart__image {
  border: #1ec91e solid 1px; }

@media only screen and (max-width: 710px) {
  #admin__new {
    display: inline;
    padding: 1rem 1rem; } }
