* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px; }

.glass {
  display: inline-block;
  background: rgba(255, 255, 255, 0.192);
  border-radius: 0;
  padding: 7rem;
  position: relative;
  z-index: 1;
  /* color:rgba(128, 128, 128, 0.801) */
  backdrop-filter: blur(70px);
  border: solid 1px transparent;
  background-clip: padding-box; }

.nav__title {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.75rem !important;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.nav__link {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }
  .nav__link:hover {
    border-bottom: 3px solid #333333; }
  .nav__link:active {
    border-bottom: 3px solid #333333; }

.nav__left--name {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.nav__left--cart {
  font-size: 2rem;
  margin: 2.5rem 1rem 1rem 1rem;
  color: #333333; }
  .nav__left--cart:hover {
    text-shadow: #1ec91e;
    text-shadow: 0rem 0rem 1rem #1ec91e; }

.nav__left--logout {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.nav__left--icon {
  font-size: 1rem;
  margin-left: 0.2rem; }

.welcome {
  background-image: url("../images/gear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
  .welcome__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
  .welcome__anchor {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: #1ec91e;
    letter-spacing: 0.2rem;
    font-weight: 200;
    text-transform: uppercase; }
    .welcome__anchor--link:hover {
      color: #333333;
      text-decoration: none; }

.dash__title--main {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.dash__title--product {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.dash__price {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.dash__cartBtn {
  font-size: 1rem;
  background: #1ec91e !important;
  color: #333333 !important;
  letter-spacing: 0.1rem; }
  .dash__cartBtn:hover {
    border: 1px solid #333333; }

.dash__image {
  display: inline-flex;
  width: 80%;
  height: auto; }

.login {
  background-image: url("../images/gear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
  .login__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
  .login__input {
    font-size: 1rem;
    padding: 1rem;
    height: 3rem; }
    .login__input::placeholder {
      color: #1ec91e !important;
      letter-spacing: 0.1rem; }
  .login__btn {
    font-size: 1rem;
    background: #1ec91e !important;
    color: rgba(255, 255, 255, 0.849) !important;
    letter-spacing: 0.1rem; }
  .login__text {
    font-size: 1rem;
    font-size: 1rem; }
  .login__anchor {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #333333 !important; }

.signup {
  background-image: url("../images/gear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
  .signup__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #333333 !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #1ec91e; }
  .signup__input {
    font-size: 1rem;
    padding: 1rem;
    background-color: transparent;
    height: 3rem; }
    .signup__input::placeholder {
      color: #1ec91e;
      letter-spacing: 0.1rem; }
  .signup__btn {
    font-size: 1rem;
    background: #1ec91e !important;
    color: rgba(255, 255, 255, 0.849) !important;
    letter-spacing: 0.1rem;
    width: 14rem;
    margin-left: 1.2rem; }
  .signup__text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.849); }
  .signup__anchor {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #333333 !important; }

.newProduct__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e; }

.newProduct__input {
  font-size: 1rem;
  padding: 1rem;
  height: 3rem; }
  .newProduct__input::placeholder {
    color: #1ec91e !important;
    letter-spacing: 0.1rem; }

.newProduct__upload {
  color: #333333 !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #1ec91e;
  letter-spacing: 0.1rem; }

.newProduct__btn {
  font-size: 1rem;
  background: #1ec91e !important;
  color: #333333 !important;
  letter-spacing: 0.1rem; }
  .newProduct__btn:hover {
    border: 1px solid #333333; }

.newProduct__text {
  font-size: 1rem;
  font-size: 1rem; }

.newProduct__anchor {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #333333 !important; }

#newProduct__drop {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

#newProduct__link {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  pointer-events: auto !important;
  cursor: pointer;
  color: #1ec91e; }
