.newProduct {
  @media only screen and (max-width: 600px) {
    margin-left: 1.25rem;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: $color-black !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: $color-green;
  }
  &__card {
    border: 3px solid $color-green;
  }
  &__input {
    font-size: 1rem;
    padding: 1rem;
    height: 3rem;
    &::placeholder {
      color: $color-green !important;
      letter-spacing: 0.1rem;
    }
  }
  &__upload {
    color: $color-black !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: $color-green;
    letter-spacing: 0.1rem;
    border: 2px solid $color-green;
    background: rgba(0, 0, 0, 0.856);
  }
  &__btn {
    font-size: 1rem;
    background: $color-green !important;
    color: $color-black !important;
    letter-spacing: 0.1rem;
    &:hover {
      border: 1px solid $color-black;
    }
  }
  &__text {
    font-size: 1rem;
    font-size: 1rem;
  }
  &__anchor {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: $color-black !important;
  }
}
#newProduct__drop {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
#newProduct__link {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  pointer-events: auto !important;
  cursor: pointer;
  color: $color-green;
}
